Telegram RAG Support Bot.json
{
  "name": "Telegram RAG Support Bot",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are a helpful assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        656,
        96
      ],
      "id": "540e6fa0-3384-4fc0-9765-f4615b7e4d3d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        624,
        320
      ],
      "id": "e11a2e9f-c185-45a1-a9cb-611364249754",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "lGuByABqJKFqcAZC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        832,
        528
      ],
      "id": "26163fa3-aa6e-4cd2-aa47-aeb64928b0df",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "lGuByABqJKFqcAZC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8e832c4b-5548-4272-b727-88bdf531d651",
              "leftValue": "={{ $json.message.voice.mime_type }}",
              "rightValue": "=audio/ogg",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -272,
        96
      ],
      "id": "52e690ae-bec5-4698-81c0-3d9b5ecc1542",
      "name": "check message type"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a34462f2-186a-4e34-a1d1-cf909fe82ec6",
              "name": "chatInput",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        0
      ],
      "id": "9b4abeb6-644a-4f59-bc1e-3a776e6c7d9a",
      "name": "Transform Voice Message"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7d7dc6d0-6434-48e2-bf77-26881f33a753",
              "name": "chatinput",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        192
      ],
      "id": "f6a17067-d8b9-416f-9a7c-bad392c19fc8",
      "name": "Transform Text Message"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -496,
        96
      ],
      "id": "3714ba1b-b6ea-4cd5-80a7-e9883fbd911c",
      "name": "Telegram Trigger",
      "webhookId": "239ac3af-3789-4136-bfe3-fb09c346dadc",
      "credentials": {
        "telegramApi": {
          "id": "vjR3JY9CTJlu2DsL",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -48,
        0
      ],
      "id": "9a0c9127-30d4-427f-83d0-6b328d07d572",
      "name": "Get a file",
      "webhookId": "4cdfef82-0970-40b7-8dfe-3568333ad07c",
      "credentials": {
        "telegramApi": {
          "id": "vjR3JY9CTJlu2DsL",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3-flash-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3-flash-preview"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        176,
        0
      ],
      "id": "9a9abe73-b1df-41df-870e-00d75442b889",
      "name": "Transcribe a recording",
      "credentials": {
        "googlePalmApi": {
          "id": "SUrcCujNRuIaQK9t",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7823747239874",
        "text": "3242342390808",
        "additionalFields": {
          "appendAttribution": false,
          "reply_to_message_id": 0,
          "message_thread_id": 0
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1120,
        96
      ],
      "id": "ef333ac7-19c9-4be3-9e7c-45a3a3d9cacd",
      "name": "Send a text message",
      "webhookId": "5714f98e-49db-4794-a949-af25ecb08747",
      "credentials": {
        "telegramApi": {
          "id": "vjR3JY9CTJlu2DsL",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1DGkrRM6Jw588rnvNnq1AGfM6X1wPKVCW",
          "mode": "list",
          "cachedResultName": "workspace",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1DGkrRM6Jw588rnvNnq1AGfM6X1wPKVCW"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -496,
        736
      ],
      "id": "9db1af79-b6e0-4c36-9083-23366a96b813",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "T07FR1buvnMN2az4",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -272,
        736
      ],
      "id": "766636ae-1ecc-4e56-a664-96f2da5f204d",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "T07FR1buvnMN2az4",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -48,
        960
      ],
      "id": "8b0e4c7c-a36a-429c-bdf4-85a482a3a666",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "lGuByABqJKFqcAZC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "splitPages": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        80,
        960
      ],
      "id": "cb697c26-ad1a-497a-b963-a1c848b6b96e",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "starter",
          "mode": "list",
          "cachedResultName": "starter"
        },
        "options": {
          "pineconeNamespace": "={{ $json.name }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -16,
        736
      ],
      "id": "720027ff-f573-4a61-a0f9-4d95d2c30a34",
      "name": "Pinecone Upsert",
      "credentials": {
        "pineconeApi": {
          "id": "ydIijCQSHon2tFvC",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this tool to retrieve the most relevant text chunks from Pinecone based on the user's question. It performs vector similarity search over embedded PDF content and returns top matches as context for the answer generation step.\n",
        "pineconeIndex": {
          "__rl": true,
          "value": "starter",
          "mode": "list",
          "cachedResultName": "starter"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        752,
        320
      ],
      "id": "90d149e7-3c9d-4f06-a1fd-4aa00f6dc18b",
      "name": "Pinecone Retriever",
      "credentials": {
        "pineconeApi": {
          "id": "ydIijCQSHon2tFvC",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "chunkSize": 800,
        "chunkOverlap": 180
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterTokenSplitter",
      "typeVersion": 1,
      "position": [
        160,
        1168
      ],
      "id": "97397927-30f1-4711-a0b7-03c09e4a1b96",
      "name": "Token Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Retriever",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check message type": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Transform Text Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Voice Message": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Text Message": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "check message type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Transform Voice Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Upsert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Upsert",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Upsert",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Upsert": {
      "ai_tool": [
        []
      ]
    },
    "Pinecone Retriever": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Token Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "9bb71a4e-42f8-4a6e-9e14-53209bae7216",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0085974a32bd601e3c74ee9af6941fae274efcd2b7486470b94b0cd92e635f15"
  },
  "id": "9JJEKfelizcTJjmv",
  "tags": []
}